---
layout: default
title: Posts
permalink: /posts/
category: posts
---
{% assign sorted_cats = site.categories | sort %}
{% for category in sorted_cats %}
	{% assign sorted_posts = category[1] | reversed %}
	
	<h2>{{ category[0] }}</h2>
	<hr>
	<ol>
		{% for post in sorted_posts %}
			{% if post.tag == "blog" %}
				<li>
					<time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
						{{ post.date | date: "%b %-d, %Y" }}
					</time>
					<a class='postLink' href="{{site.url}}{{site.baseurl}}{{post.url}}">
						{{ post.title }}
					</a>
				</li>
			{% endif %}
		{% endfor %}
	</ol>
{% endfor %}

<h2>all</h2>
<hr>
<ol>
	{% for post in site.posts %}
		{% if post.tag == "blog" %}
			<li>		
				<time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
					{{ post.date | date: "%b %-d, %Y" }}
				</time>
				<a class='postLink' href="{{site.url}}{{site.baseurl}}{{post.url}}">
					{{ post.title }}
				</a>
			</li>
		{% endif %}
	{% endfor %}
</ol>
