{% extends "base.html" %}

{% block head %}
    <meta name="description" content="{{ article.summary|striptags }}">
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/article.css">
{% endblock %}

{% block title %}
    {{ article.title|striptags }} {{ super() }}
{% endblock %}

{% block page_header %}
    {{ article.title }}
{% endblock %}

{% block content %}
    <article class="article">
        <header>
            <ul class="article-data-ul">
                <li class="article-data-li" title="{{ article.date.isoformat() }}">
                    {{ article.locale_date }}
                </li>

                <li class="article-data-li">
                    <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
                </li>
            </ul>
        </header>

        <div class="content">
            {{ article.content }}
        </div>
    </article>

    {% include 'include/comments.html' %}
{% endblock %}
