{% extends "base.html" %}

{% block content %}
{% for category, articles in categories %}
    <h3>{{ category }}</h3>
    <hr/>

    <ol>
        {% for article in articles %}
            <li class="article-listing">
                <h4 style="margin:0px;" class="article-title">
                    <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
                </h4>

                <span class="article-date">
                    {{ article.locale_date }}
                </span>

                <div style="margin-top:10px;" class="article-summary">
                    {{ article.summary|striptags }}
                </div>
            </li>

            {% if not loop.last %}
                <hr>
            {% endif %}
        {% endfor %}
    </ol>
{% endfor %}

{% include 'include/pagination.html' %}
{% endblock %}
