html {
  background-color: #fefefe;
}

body {
  font-family: "Open Sans", Arial;
  color: #454545;
  font-size: 16px;
  margin: 2em auto;
  max-width: 800px;
  padding: 1em;
  line-height: 1.4;
}

a {
  color: #0077aa;
}

a:visited {
  color: #941352;
}

small {
  font-size: 0.4em;
}

ul li img {
  height: 1em;
}

blockquote {
  color: #445566;
  margin-left: 0;
  margin-top: 2em;
  margin-bottom: 2em;
}

blockquote span {
  float: left;
  margin-left: 1rem;
  padding-top: 1rem;
}

blockquote author {
  display: block;
  clear: both;
  font-size: 0.6em;
  margin-left: 2.4rem;
  font-style: oblique;
}

blockquote author:before {
  content: "- ";
  margin-right: 1em;
}

blockquote::before {
  font-family: "Times New Roman", Times, Arial;
  color: #666666;
  content: open-quote;
  font-size: 2.2em;
  font-weight: 600;
  float: left;
  margin-top: 0em;
  margin-right: 0.2rem;
  width: 1.2rem;
}

blockquote::after {
  content: "";
  display: block;
  clear: both;
}

@media screen and (max-width: 500px) {
  body {
    text-align: left;
  }
  div.fancyPositioning div.picture-left {
    float: none;
    width: inherit;
  }
  div.fancyPositioning div.tleft {
    float: none;
    width: inherit;
  }
  blockquote span {
    width: 80%;
  }
  blockquote author {
    padding-top: 1em;
    width: 80%;
    margin-left: 15%;
  }
  blockquote author::before {
    content: "";
    margin-right: inherit;
  }
}

span.visited {
  color: #941352;
}

body {
   padding:0;
   height:100%;
}
.root-container {
   min-height:100%;
   position:relative;
}

.main {
   padding-bottom:60px;   /* Height of the footer */
}

.footer {
  position:absolute;
  bottom:0;

  padding-top:20px;
  height:60px;   /* Height of the footer */
}